<h1>Step2: Select your config and options</h1>

<ng-container *ngIf="option$ | async as option">
  <div>
    <div class="model-select">
      <h3>Config:</h3>
      <mat-form-field>
        <mat-label>Choose...</mat-label>
        <mat-select [formControl]="secondStepForm.controls.config">
          <mat-option [value]="''">Choose...</mat-option>
          <ng-container *ngFor="let config of option.configs">
            <mat-option [value]="config.id">{{config.description}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
      <!---->
    </div>
    <ng-container *ngIf="isConfigSelected$ | async">
      <p *ngIf="config$ | async as config">
        Range: {{config.range}} miles - Max speed: {{config.speed}} - Cost: {{config.price | currency:'USD'}}
      </p>
    </ng-container>
    <div *ngIf="option.towHitch">
        <mat-checkbox [formControl]="secondStepForm.controls.towHitch">Tow hitch</mat-checkbox>
    </div>
    <div *ngIf="option.yoke">
      <mat-checkbox [formControl]="secondStepForm.controls.yoke">Yoke </mat-checkbox>
    </div>
  </div>
</ng-container>
